<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Hey, Moussaillon !</h1>
          <p>J'ai entendue dire que tu étais intéressé par le secret de l'univers??? </p>

          <p><a class="btn btn-primary btn-lg" href="<%= secret_path %>" role="button">Dirige-toi ici vaillant moussaillon »</a></p>
        </div>
     </div>



</main>